body{
    font-family: Arial, sans-serif;
    background-color:#f0f2f5;
    margin:0; padding:0;
}

.header-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:20px;
}

.header-container h1{
    font-size:36px;
    color:#1f2634;
    margin:10px 0;
    text-shadow:2px 2px 4px rgba(0,0,0,0.2);
    text-align:center;
}

.menu{
    display:flex;
    justify-content:center;
    gap:10px;
    flex-wrap: wrap;
    margin:20px 0;
}

button{
    padding:8px 16px;
    background-color:#f4cf19;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-weight:bold;
    transition: 0.2s;
}

button:hover{
    background-color:#e6b800;
}

.section{
    display:none;
    max-width:900px;
    margin:0 auto 20px auto;
    padding:20px;
    background-color:#fff;
    box-shadow:0 0 15px rgba(0,0,0,0.15);
    border-radius:10px;
}

input{
    display:block;
    margin:10px 0;
    padding:10px;
    width:100%;
    box-sizing:border-box;
    border-radius:5px;
    border:1px solid #ccc;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:15px;
}

th,td{
    border:1px solid #ccc;
    padding:8px;
    font-size:14px;
    text-align:left;
}

th{
    background-color:#1f2634;
    color:#fff;
}

td{
    background-color:#f9f9f9;
}

.quantity-control{
    display:flex;
    gap:5px;
    margin:10px 0;
    align-items:center;
}

.quantity-control button{
    width:40px;
}

#paymentMethodDiv{
    margin-top:10px;
}
